Flask==3.1.0
Werkzeug==3.0.1
Flask-Cors==5.0.0
gunicorn==23.0.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
scipy==1.15.2
tensorflow==2.18.0
keras==3.1.0
grpcio==1.70.0
protobuf==4.25.3
h5py==3.10.0
matplotlib==3.8.4
requests==2.32.3
beautifulsoup4==4.13.3
idna==3.7
joblib==1.4.2
Pillow==10.2.0
markdown==3.5.2
absl-py==2.1.0
google-pasta==0.2.0
opt-einsum==3.3.0
typing-extensions==4.10.0
six==1.16.0
termcolor==2.4.0
wrapt==1.16.0
ml-dtypes==0.3.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
libclang==18.1.1
fsspec==2023.4.0
monai==1.4.0
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
